# Homework: String Manipulation

Dataset: `What do Asian Religions Have in Common?`
Source: https://archive.ics.uci.edu/ml/datasets/A+study+of++Asian+Religious+and+Biblical+Texts#

Eventhough we won't be fitting this data to models, before proceeding with this exercise we encourage you to read about this dataset from the link provided below. 

About the dataset : https://arxiv.org/abs/1912.10847

In this short homework exercise you will work with strings.

Link to the CSV file for this dataset:
`AllBooks_baseline_DTM_Labelled.csv`

In [10]:
import pandas as pd
import numpy as np

# paths to the most commonly used dataset repositories for this lab

# path to data-wrangling-datasets repository
sv_rep_path = '../data/'

Load and explore the dataset

In [11]:
# load the dataset

source = sv_rep_path + 'AllBooks_baseline_DTM_Labelled.csv'
books_df = pd.read_csv(source)

In [12]:
# shape
books_df.shape

(590, 8267)

In [13]:
# head
books_df.head()

,Unnamed: 0,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,kindled,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
0,Buddhism_Ch1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Buddhism_Ch2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Buddhism_Ch3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Buddhism_Ch4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Buddhism_Ch5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# tail
books_df.tail()

,Unnamed: 0,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,kindled,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
585,BookOfWisdom_Ch15,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
586,BookOfWisdom_Ch16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
587,BookOfWisdom_Ch17,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
588,BookOfWisdom_Ch18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
589,BookOfWisdom_Ch19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# describe all
books_df.describe(include='all')

,Unnamed: 0,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,kindled,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
count,590,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,...,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000
unique,590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Buddhism_Ch1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.003390,0.566102,0.006780,0.001695,0.032203,0.059322,0.001695,0.001695,0.006780,...,0.003390,0.006780,0.003390,0.001695,0.001695,0.001695,0.079661,0.008475,0.005085,0.003390
std,NaN,0.058173,1.777487,0.082129,0.041169,0.488211,0.326851,0.041169,0.041169,0.082129,...,0.058173,0.100701,0.058173,0.041169,0.041169,0.041169,0.366824,0.091744,0.071186,0.058173
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,1.000000,14.000000,1.000000,1.000000,11.000000,4.000000,1.000000,1.000000,1.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000

## Goal 1 - Split bookname and chapter

Split the book name and chapter number into two columns: `Book` and `Chapter` using a string method. For example, `Buddhism_Ch1` becomes `Buddhism` and `Ch1`

In [16]:
# split 'Unnamed: 0'
split = books_df['Unnamed: 0'].str.split('_', expand=True)

# Insert the 'Book' and 'Chapter' column in the first and second postion using DataFrame.insert() (Refer documentation)
books_df.insert(0, 'Chapter', split[1])
books_df.insert(0, 'Book', split[0])

# view the changes
books_df

,Book,Chapter,Unnamed: 0,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
0,Buddhism,Ch1,Buddhism_Ch1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Buddhism,Ch2,Buddhism_Ch2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Buddhism,Ch3,Buddhism_Ch3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Buddhism,Ch4,Buddhism_Ch4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Buddhism,Ch5,Buddhism_Ch5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,BookOfWisdom,Ch15,BookOfWisdom_Ch15,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
586,BookOfWisdom,Ch16,BookOfWisdom_Ch16,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
587,BookOfWisdom,Ch17,BookOfWisdom_Ch17,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
588,BookOfWisdom,Ch18,BookOfWisdom_Ch18,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
589,BookOfWisdom,Ch19,BookOfWisdom_Ch19,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# drop the 'Unnamed: 0' column
books_df.drop('Unnamed: 0', axis=1, inplace=True)
books_df

,Book,Chapter,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
0,Buddhism,Ch1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Buddhism,Ch2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Buddhism,Ch3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Buddhism,Ch4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Buddhism,Ch5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,BookOfWisdom,Ch15,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
586,BookOfWisdom,Ch16,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
587,BookOfWisdom,Ch17,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
588,BookOfWisdom,Ch18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
589,BookOfWisdom,Ch19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Goal 2 - Remove `Ch` from the chapter numbers

We are interested in removing `Ch` from the chapter numbers. Note that there is no space in between `Ch` and the number.

In [18]:
# remove the redundant `Ch` from the chapter numbers
books_df['Chapter'].replace('[Ch]', '', regex=True, inplace=True)

# view the changes
books_df

,Book,Chapter,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
0,Buddhism,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Buddhism,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Buddhism,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Buddhism,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Buddhism,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,BookOfWisdom,15,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
586,BookOfWisdom,16,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
587,BookOfWisdom,17,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
588,BookOfWisdom,18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
589,BookOfWisdom,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0